.button {
    text-align: center;
    background-color:  $grey-button;
    color: white;
    height: 50px;
    width: 400px;
    font-family: 'roboto';
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    &:hover{
        cursor: pointer;
        background-color:lighten($grey-button, 10%) ;
        transition: 0.3s;
    }
    @include tablet {
        width: 80%;
        padding: 2px;
        font-size: 18px;
    }
}