.bg-pink {
    background-color: $pink-logo;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include tablet{
        width: 100%;
    }
}

.logo {
    height: 250px;
}