body {
  background-color: $pink-logo;
  margin: 0;
}

.bg-pink {
  background-color: $pink-logo;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include tablet {
    width: 100%;
  }
}

.logo {
  height: 250px;
}

