

.bg-white-gifs {
background-color: white;
text-align: center;
width: 612px;
display: flex;
margin-top: 20px;
padding: 20px;
margin-left: auto;
margin-right: auto;

    justify-content: center;
}

.gif-container{
    margin-top: 20px;
    width: 80%;
}

.gif-image {
    width: 100%;
}

.author-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-family: 'roboto';
    font-size: 18px;
    @include tablet {
        font-size: 12px;
    }
}

.likes-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $grey-field;
    font-family: 'roboto-light';
    font-size: 15px;
    padding-bottom: 7px;
    padding-top: 10px;
    color: $grey-button;
       @include tablet {
        font-size: 12px;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
    @include tablet {
        font-size: 12px;
    }
}

.like-button {
    font-family: 'roboto';
    background-color: white;
    border:none;
 
    &:hover {
        cursor: pointer;
    }
}

.comments {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    &__comment-container {
        background-color: $grey-field;
        border-radius: 10px;
        &__author {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            font-family: 'roboto';
           font-size: 12px;
           color: $grey-button;
        }
        &__comment {
            font-family: 'roboto-light';
            font-size: 12px;
            width: 100%;
            text-align:  left;
            padding-left: 8px;
            padding-bottom: 8px;
        }
    }
   
}