
.bg-white-gifs {
background-color: white;
text-align: center;
width: 612px;
display: flex;
margin: 20px auto 20px auto;
padding: 20px;
justify-content: center;
@include tablet {
    width: 80%;
}
}

.gif-container{
    margin-top: 20px;
    width: 80%;
}

.gif-image {
    width: 100%;
}

.author-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-family: 'roboto';
    font-size: 18px;
    @include tablet {
        font-size: 12px;
    }
}

.likes-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $grey-field;
    font-family: 'roboto-light';
    font-size: 15px;
    padding-bottom: 7px;
    padding-top: 10px;
    color: $grey-button;
       @include tablet {
        font-size: 12px;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
    @include tablet {
        font-size: 12px;
    }
}

.like-button {
    font-family: 'roboto';
    background-color: white;
    border:none;
 
    &:hover {
        cursor: pointer;
    }
}

.comments {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    &__comment-container {
        background-color: $grey-field;
        border-radius: 10px;
        &__author {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            font-family: 'roboto';
           font-size: 12px;
           color: $grey-button;
        }
        &__comment {
            font-family: 'roboto-light';
            font-size: 12px;
            width: 100%;
            text-align:  left;
            padding-left: 8px;
            padding-bottom: 8px;
        }
    }
   
}

.titre2 {
    font-family: 'roboto-thin';
    text-align: left;
    font-size: 30px;
    @include tablet {
        font-size: 18px
    }
}

.comment-form {
    @include form-field;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 400px;
    font-size: 15px!important;
    @include tablet {
        width: 200px;
    }
}

.people-icon {
    height: 30px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    @include tablet {
        margin-right: 5px;
    margin-left: 5px;
    }
}

.comment-line {
    padding-top: 10px;
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    // justify-content: center;
}