@import "./utils/variables";
@import "./utils/mixins";
@import "./base.scss";
@import "../../components/AlertMessage/alertMessage.scss";
@import "../../components/Button/button.scss";
@import "../../components/Header/header.scss";
@import "../../components/LoginForm/loginForm.scss";
@import "../../components/SignupForm/signupForm.scss";
@import "../../components/UserForm/userForm.scss";
@import "../../components/FileUploader/fileUploader.scss";
@import "../sass/gif.scss";
@import "../sass/post.scss";
@import "../../pages/Feed/feed.scss";


@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}