.form-field {
  @include form-field;
}

.bg-white-user {
  @include bg-white;
  padding-top: 50px;
  border-radius: 5px;
  height: 520px;
  margin: auto;
  @include tablet {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}
