.file-uploader {
    background-color: white;
    border: 2px solid $grey-field;
    color: $grey-button;
    font-family: 'roboto-thin';
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 400px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}