.form-field {
  @include form-field;
}

.bg-white-signup {
  @include bg-white;
  height: 850px;
  margin: auto;
  border-radius: 5px;

  @include tablet {
    height: 100%;
    padding-bottom: 20px;
  }
}
