.bg-white-post {
  background-color: white;
  width: 612px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  @include tablet {
    width: 80%;
  }
}

.post {
  height: 100%;
  &__textarea {
    background-color: $grey-field;
    border-radius: 10px;
    border: none;
    font-family: "roboto-light";
    width: 80%;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 40px;
    font-size: 16px;
    @include tablet {
      width: 65%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__image-container {
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    line-height: 50px;
  }
  &__icon {
    height: 30px;
  }
  &__upload {
    background-color: white;
    border: 2px solid #e6e6e6;
    color: $grey-button;
    font-family: "roboto-light";
    font-size: 16px;
    min-height: 40px;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    @include tablet {
      width: 80%;
    }
  }
}

.center {
  text-align: center;
}

.image-preview {
  width: 100%;
}

.alert-message-size {
  background-color: #fdf3d1;
  color: #514013;
  font-size: 12px;
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-family: "roboto";
  margin: 10px auto 20px auto;
  @include tablet {
    width: 80%;
    height: inherit;
  }
}
